<h2>Húrnégyszög terület számitás</h2>

<form action="calc.php" method="get">
    <div>
        <label for="aside" class="form-label">a oldal</label>
        <input type="text" name="aside" id="aside"  class="form-control"><!--input name kell a phpnak-->
    </div>
    <div>
        <label for="bside" class="form-label">b oldal</label>
        <input type="text" name="bside" id="bside"  class="form-control"><!--input name kell a phpnak-->
    </div>
    <div>
        <label for="cside" class="form-label">c oldal</label>
        <input type="text" name="cside" id="cside"  class="form-control"><!--input name kell a phpnak-->
    </div>
    <div>
        <label for="dside" class="form-label">d oldal</label>
        <input type="text" name="dside" id="dside"  class="form-control"><!--input name kell a phpnak-->
    </div>
    <button type="submit"
    class="btn btn-warning mt-3">Számit</button><!--mert nem javascripttel kérjük el-->



</form>